body {
  text-align: center;
  margin: 0;
}

p,
h2 {
  color: white;
  background-color: black;
}

h2 {
  display: inline block;
  width:9em;
  margin: auto;
  padding: 10px;
  margin-bottom: 300px;
}
p {
  padding: 35px;
  font-size: 20px;
  margin: 0;
}

.intro {
  padding: 55px;
  font-size: 18px;
  text-align: justify;
  line-height: 30px;
}

.white {
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
}

.first {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
}

.second {
  background-image: url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 300px;
}

.padding {
  padding-top: 300px;
}
